# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Vendor folder (if using Go modules, you can ignore this)
vendor/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Logs
*.log

# Temporary files
*.tmp

